body,
html {
  width: 100%;
  height: 100%;
}


/*********** INTRO CSS **************/
body {
  background-color: #456990;
  /*background-color: #D5D5D5;*/
  font-family: 'Sarala', 'Space Mono', 'Lato', sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
  overflow-x: hidden;
}

.intro-container {
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    display: inline-flex;
    font-family: 'Space Mono', 'Lato', sans-serif;
}

.terminal img {
    position: relative;
    top: 0;
    width: 100%;
}

.terminal {
    background-color: black;
    width: 500px;
    height: 350px;
    margin: auto;
    position: relative;
    z-index: 10;
    border-radius: 2%;
    box-shadow: 0px 0px 50px #233237;
}

.terminal p, span {
    margin-left: 5px;
    font-size: 12px;
    display: inline;
}

.terminal-content {
    height: 90%;
    width: 100%;
    overflow: auto;
}

.card {
    background-color: white;
    width: 400px;
    height: 450px;
    right: 50px;
    top: 100px;
    position: absolute;
    border-radius: 2%;
    box-shadow: 0px 0px 50px #233237;
    z-index: -5;
}

.full-file {
    background-color: white;
    width: 50px;
    height: 65px;
    position: absolute;
    top: 40px;
    right: 20%;
    border-radius: 2%;
    box-shadow: 0px 0px 50px #233237;
    z-index: -5;
}

.file {
    min-height: 100%;
}

#fakejson p {
    font-size: 2px;
    color: black;
    position: relative;
    line-height: 2px;
    right: initial;
}

.full-file p{
    font-size: 10px;
    color: white;
    position: relative;
    line-height: 2px; 
    right: 6px;
}

#fakejson {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.card table tr {
    line-height: 0px;
}

.card table td {
    font-size: 10px;
    border-radius: 0px;
}

.card table td:nth-child(2) {
    border-left: 3px solid #984B43;
    /* rusty red: #984B43 */
    /* neon green: #84ed4b */
}

.card table td.highlighted {
    background-color: #984B43;
    color: white;
}

.card table .line-number {
    font-size: 11px;
}

.card table .normal {
    color: darkgray;
}

.card table .personal-info {
    color: #0e3a7c;
}

.card table .darken {
    color: black;
    font-size: 10px;
}

.info-highlight {
    background-color:  #fff7f9;
    /*e1e6ef*/
}

input[type=text]#continue-input {
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid #9e9e9e; */
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 20%;
    font-size: 12px;
    margin: 0 5px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
}

input#continue-input:focus {
    border-bottom: 0px solid #000 !important;
    box-shadow: 0 0px 0 0 #000 !important;
    outline: none !important;
}

input[type=password]#unlock-site {
    background-color: transparent;
    border: 4px solid black;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 20%;
    font-size: 12px;
    box-shadow: none;
    box-sizing: content-box;
}

input.unlock:focus {
    border: 2px solid #233237 !important;
    box-shadow: 0 0px 0 0 #233237 !important;
    outline: none !important;
}

.input-field input:focus + label {
    color: #233237 !important;
}

.material-icons {
    color: white;
}

.material-icons.prefix.active {
    color: #233237;
}

.input-field {
    margin: auto;
    position: relative;
}

.passcode {
    background-color: black;
    width: 110px;
    height: 25px;
    position: absolute;
    bottom: 50px;
    right: 17%;
    border-radius: 2%;
    box-shadow: 0px 0px 50px #233237;
    z-index: -5;
    text-align: center;
}

.passcode p {
    font-size: 10px;
    margin: auto;
}

.welcome {
    margin: auto;
    position: relative;
}

.skip {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
}

.cursor {
    font-size: 24px;
    margin-bottom: 4px;
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*********** INTRO CSS **************/

.nav-container {
    width: 100%;
    height: 65px;
    /*background-color: #252839;*/
    background-color: #456990;
    border-bottom: 1px solid slategray;
    /*font-family: 'Sarala', 'Space Mono', 'Lato', sans-serif;*/
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

/* Remove margins and padding from the list, and add a black background color */
ul.navbar {
    width: 60%;
    height: 80%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    /*background-color: #252839; purple*/
    background-color: #456990;
    text-align: center;
}

/* Float the list items side by side */
ul.navbar li { 
    display: inline-block; 
    height: 100%;
    padding: 18px 16px;
}

/* Style the links inside the list items */
ul.navbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

/* Change background color of links on hover */
ul.navbar li:hover {
    /*border-bottom: 2px #EAC67A solid;*/
}

ul.navbar li a:hover {
    /*color: #FBA100; DARKER ORANGE*/
    /*color: #FF8D1C; ORANGE */
    color: #EF767A;
}


.main-container{
    /*background-color: #191E28; DARKER PURPLE*/
    /*background-color: #252839; PURPLE */
    background-color: #f2f2f2;
    color: black;
}

.content {
    min-height: 100vh;
    padding-top: 15vh;
}


#about-me {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex: 1;
}

.icons {
    flex: 1;
    text-align: center;
    font-size: 1.25rem;
    padding: 0 2%;
}

.icons h5 {
    color: #36454f;
}

.icons p {
    color: #36454f;
    font-size: 14px;
}

.icons:first-child {
    color: #EF767A;
}

.icons:nth-child(2) {
    color: #456990;
}

.icons:nth-child(3){
    color: #49BEAA;
}

.info-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.info-card {
    width: 75%;
    display: flex;
    border-radius: 2%;
    box-shadow: 0px 0px 25px gray;
    background-color: white;
}

#info-left{
    flex: 1;
    border-right: solid black 1px;
}

#my-pic {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-image: url("images/mebluffs3.png");
    background-size: cover;
    margin: 25% auto;
    position: relative;
    border: 4px solid #FFB44C;

}

#info-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.info-dividers {
    flex: 1;
    color: white;
    font-size: 18px;
}

.info-dividers p {
    height: 100%;
    margin: 6% 4% 0 4%;
}

.info-dividers span {
    padding-left: 25px;
    padding-right: 15px;
}

.info-dividers:first-child {
    background-color: #456990;
}

.info-dividers:nth-child(2) {
    background-color: #49BEAA;
}

.info-dividers:nth-child(3) {
    background-color: #EF767A;
    font-size: 14px;
}

.info-dividers:nth-child(4) {
    background-color: #A5D3FF;
    font-size: 16px;
}

.info-dividers:last-child {
    background-color: #FFB44C;
    font-size: 16px;
}

#projects {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-obj {
    width: 40%;
    height: 40%;
    background-color: white;
    box-shadow: 0 0 20px lightgray;
    margin: 10px 10px 10px 5px;
    overflow: hidden;
}

#ss {
    background-image: url("images/space-game.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#hw3 {
    background-image: url("images/hw3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#mc {
    background-image: url("images/memory-game.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#sort {
    background-image: url("images/sorted-assmt.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-name {
    height: 15%;
    color: white;
    text-align: center;
}

.project-name p {
    margin: 0;
}

.proj-text {
    padding: 6px;
    font-size: 12px;
}

#ss-name {
    background-color: #49BEAA;
}

#hw3-name {
    background-color: #EF767A;
}

#mc-name {
    background-color: #A5D3FF;
}

#sort-name {
    background-color: #FFB44C;
}

@media only screen and (max-width: 401px) {

}

@media only screen and (max-width: 601px) {

}

@media only screen and (max-height: 450px) {

}